<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error404</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?t=st=1730992020~exp=1730995620~hmac=f73d520705b5abf13909328dcc636ee99b2e79df885101d0a91aadd8355d18c7&w=740" alt="">
  <H2 style="text-align: center;">Oops! Parece que no hay nada acá.</H2>

  <div style="display: flex; justify-content: center; align-items: center;">
  <ion-button  shape="round" routerLink="/login">Volver al Inicio</ion-button>
</div></ion-content>
